
.carrousel{
  padding-bottom: 5rem;
  width: 100%;
}

h4{
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 10%;
}

.carrousel__container{
  position: relative;
  width: inherit;
}

.carrousel__gradient{
  width: inherit;
  height: 100%;

  div{
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .gradient__left{
    left: 0;
    opacity: 0;
    background: linear-gradient(-90deg, rgba(12, 12, 12, 0.00) 0%, rgba(12, 12, 12, 0.59) 19.5%, #0C0C0C 56.5%);
  }

  .gradient__right{
    right: 0;
    background: linear-gradient(90deg, rgba(12, 12, 12, 0.00) 0%, rgba(12, 12, 12, 0.59) 19.5%, #0C0C0C 56.5%);
  }

  
}

.carrousel__items{
  display: flex;
  gap: 1.2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 50vh;
  padding-top: 2rem;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  
  mv-movie-carrousel-item:first-of-type{
    margin-left: 10%;
  }

  mv-movie-carrousel-item:last-of-type{
    margin-right: 10%;
  }
}