:host{
  display: block;
  flex-shrink: 0;
}

.room-selector__item{
  flex-shrink: 0;
  padding: .5rem 0;
  cursor: pointer;
  scroll-margin-left: 1rem;
  color: #c6c6c6;

  .item__text{
    text-transform: uppercase;
  }
}

.room-selector__item:hover{
  color: white;
}

.room-selector__item.active{
  color: white;

  .border{
    width: 100%;
    height: 1px;
    margin-top: 5px;
    background-color: orange;
  }
}